# Added when running `jekyll new PATH` or serving in incremental mode.
.jekyll-metadata
.jekyll-cache/
.sass-cache/

# Bundle's config.
.bundle/
vendor/


# .idea
**/.idea/workspace.xml **/.idea/tasks.xml